body {
    background: rgb(240, 240, 240);
    margin: 0;
    height: 100vh;
    display: grid;
    justify-items: center;
    align-items: center;
    font-family: 'Nunito', 'sans-serif';
}

.container {
    /* width: 30%;
    background: white;
    border-radius: 10px; */

    .inner {
        /* background: rgb(91, 176, 255); */
        background: rgb(0, 240, 120);
        padding: 1em;
        border-radius: 10px;
        /* width: 100%; */
        width: calc(100% - 2em);
        /* clip-path: circle(10% at 0% 0%); */
        /* clip-path: circle(10% at 90% 0%); */
        clip-path: circle(10% at 89% 25%);
        /* clip-path: inset(0% 0% 0% 100%); */
        /* transition: clip-path .5s ease-in-out; */
        transition: all .5s ease-in-out;
        cursor: pointer;

        &:hover {
            clip-path: circle(75%);
            background: rgb(0, 162, 255);
        }

        span {
            float: right;
            color: white;
            font-weight: bold;
            transition: color .5s;
            position: relative;
            margin-right: 2%;
        }

        &:hover span {
            color: rgba(255, 255, 255, 0);
        }

        h1 {
            color: white;
            margin: 0;
        }

        p {
            color: white;
            font-size: .8rem;
        }
    }

    &:hover .inner {
        /* clip-path: circle(75%); */
        /* clip-path: inset(0% 0% 0% 0%); */
    }
}